@model Basic.Models.Fac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
